<h1>
  {{ hero.id ? "Editar" : "Nuevo" }}
  Héroe

  <small>{{ hero.superhero }}</small>
</h1>
<form [formGroup]="heroDataFrom">
  <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
      1
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="25px">
        <mat-form-field fxFlex="100" fxLayout.xs="column">
          <mat-label>Super Héroe</mat-label>
          <input matInput type="text" required formControlName="superhero" />
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-label>Alter Ego</mat-label>
          <input matInput type="text" required formControlName="alter_ego" />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Primera Aparición</mat-label>
        <input matInput type="text" required formControlName="characters" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Personajes</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="first_appearance"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Creador</mat-label>
        <mat-select formControlName="publisherControl">
          <mat-option
            *ngFor="let publisher of publishers"
            [value]="publisher.id"
          >
            {{ publisher.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Foto Url</mat-label>
        <input matInput type="url" required formControlName="alt_img" />
      </mat-form-field>
      <br />
      <div fxFlex="50">
        <button mat-raised-button type="submit" (click)="addedHero()">
          <mat-icon>edit</mat-icon>
          {{ hero.id ? "Actualizar" : "Guardar" }}

        </button>
        <span class="spacer"></span>
        <button
          *ngIf="hero.id"
          mat-raised-button
          type="submit"
          color="warn"
          (click)="borrar()"
        >
          <mat-icon>remove</mat-icon>
          Eliminar
        </button>
      </div>
    </div>
    <div fxFlex="50">
      2
      <img [src]="hero | imagen" alt="" />
      <!-- <mat-form-field>
      <mat-label>Foto Url</mat-label>
      <input matInput
             type="url"
             required
             formControlName="alt_img"/>
    </mat-form-field> -->
    </div>
  </div>
</form>
